{% extends "layout.twig" %}

{% block content %}
    <div class="aviso">
        <h1>New Post</h1>
        {% if errors %}
              {% include "partials/errors.twig" %}
        {% endif %}
        {% if result %}
            <div class="alert alert-success">Post Saved</div>
        {% endif %}
    </div>
            <h2>Posts</h2>
            <a href="{{ 'admin/posts' | url }}" class="btn btn-default">back</a>

            <form  method="post">
                <div class="my-3">
                    <input type="text" class="form-control" name="title" placeholder="Title">
                </div>

                  <div class="my-3">
                    <input type="text" class="form-control" name="img" placeholder="Images URL">
                 </div>

                <div class="my-3">
                    <textarea name="content" id="inputContent" class="form-control" rows="10"></textarea>
                </div>

                <div class="my-3">
                    <input type="submit" class="btn btn-primary" value="Save">
                </div>
            
            </form>
{% endblock %}

