
{% extends "layout.twig" %}

{% block content %}
    {% for post in blogpost %}
        <div class="blog-post">
            <h2>{{ post.title }}</h2>
            <p>Jan 1, 2020 by <a href="">Jose</a> </p>
            <div class="blog-post-image">
                <img class="img-fluid" src="https://ichef.bbci.co.uk/news/976/cpsprodpb/12A9B/production/_111434467_gettyimages-1143489763.jpg" alt="">
            </div>
            <div class="blog-post-content">
                <p>{{ post.content }}</p>
            </div>
        </div>
    {% endfor %}
    
{% endblock %}
