{% extends "layout.twig" %}

{% block content %}
        {% include "partials/errors.twig" %}
        <form method="post">
            <div class="my-3">
                <input type="text" name="email" placeholder="Name">
            </div>

            <div class="my-3">
                <input type="password" name="password" placeholder="Password">
            </div>

            <div class="my-3">
                <input type="submit" class="btn btn-success" value="login">
            </div>
        </form>    
{% endblock %}
